<mat-toolbar class="toolbar" style="background-image: url('assets/Logo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 130px">
  <button color="accent" mat-icon-button [matMenuTriggerFor]="menu" class="toolbar-icon">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/pricing">Pricing</button>
      <button mat-menu-item>Gallery</button>
      <button mat-menu-item>Contact</button>
    </mat-menu>
  </button>
</mat-toolbar>